<div class="main-container">
    <div class="login-card">
        <h2>Iniciar Sesión</h2>

        <form class="login-form" (ngSubmit)="login()">
            <input [(ngModel)]="loginObj.email" name="email" type="email" placeholder="Correo" required>
            <input [(ngModel)]="loginObj.password" name="password" type="password" placeholder="Contraseña" required>

            <!-- Error message display -->
            <div *ngIf="loginError" class="error-message">
                {{ loginError }}
            </div>

            <button type="submit">Iniciar Sesión</button>
        </form>

        <h4>O inicia sesión con</h4>
        <div id="google-btn"></div>


        <button type="button" class="icon-button">
            <span class="fa-stack custom-stack-size">
                <i class="fa-solid fa-expand custom-stack-2x"></i>
                <i class="fa-solid fa-user fa-stack-1x"></i>
            </span>
        </button>

        <form class="login-form2">
            <a href="/register">¿No tienes una cuenta? <span class="special-color">Registrate</span></a>
        </form>
    </div>
</div>