<div id="passwordModal" class="modal">
    <div class="modal-content">
        <h4>Update Password</h4>

        <!-- Password Update Form (only if authMethod is email) -->
        <form *ngIf="authMethod === 'email'" (ngSubmit)="updatePassword()">
            <!-- New Password -->
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" [(ngModel)]="newPassword" name="newPassword" required />
            </div>

            <!-- Confirm New Password -->
            <div>
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
            </div>

            <!-- Submit Button -->
            <button type="submit">Update Password</button>
        </form>

        <!-- Message for non-email authentication methods -->
        <div *ngIf="authMethod !== 'email'">
            <p>Password updates are only available for email-based accounts.</p>
        </div>

        <!-- Close Modal Button -->
        <button (click)="closePasswordModal()">Cancel</button>

        <!-- Error Message Display -->
        <div *ngIf="updateError" class="error-message">{{ updateError }}</div>
    </div>
</div>

<div id="updateFaceIdModal" class="modal">
    <div class="modal-content">
        <h4>Update FaceID</h4>
        <p>Proceeding with this action will delete your current FaceID and create a new one. Do you want to continue?
        </p>
        <div class="modal-buttons">
            <button (click)="proceedWithUpdate()">Continue</button> <!-- Proceed with FaceID update -->
            <button (click)="closeModal()">Cancel</button> <!-- Close modal -->
        </div>
    </div>
</div>

<div id="deleteAccountModal" class="modal">
    <div class="modal-content">
        <h4>Delete Account</h4>
        <p>Are you sure you want to delete your account? This action cannot be undone.</p>
        <div class="modal-buttons">
            <button (click)="confirmDeleteAccount()">Delete</button> <!-- Confirm account deletion -->
            <button (click)="closeDeleteAccountModal()">Cancel</button> <!-- Cancel deletion -->
        </div>
    </div>
</div>

<div id="successModal" class="modal">
    <div class="modal-content">
        <h4>Success</h4>
        <p>Your password has been updated</p>
        <div class="modal-buttons">
            <button class="success-ok-btn" (click)="closeSuccessModal()">OK</button> <!-- Close the modal -->
        </div>
    </div>
</div>

<div class="container">
    <div class="sidebar active">
        <div class="head">
            <div class="user-img">
                <img [src]="profilePicture" alt="Profile Picture" />
            </div>
            <div class="user-details">
                <p class="title">Bienvenido</p>
                <p class="name">{{ userName }}</p>
            </div>
            <div class="menu-btn2">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="nav">
            <div class="menu">
                <p class="title">Main</p>
                <ul>
                    <li>
                        <a href="#" id="nuevo-chat-btn">
                            <i class="icon fa-regular fa-square-plus"></i>
                            <span class="text">Nuevo chat</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon fa-regular fa-user"></i>
                            <span class="text">Usuario</span>
                            <i class="arrow fa-solid fa-chevron-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a *ngIf="authMethod === 'email'" href="#" (click)="openPasswordModal()">
                                    <span class="text">Change password</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" (click)="openModal()">
                                    <span class="text">Update
                                        Faceid</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" (click)="openDeleteAccountModal()">
                                    <span class="text">Delete account</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon fa-regular fa-folder-closed"></i>
                            <span class="text">Chats recientes</span>
                            <i class="arrow fa-solid fa-chevron-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    <span class="text">Earnings</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Subscribers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Earnings</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <p class="title">Servicio</p>
                <ul>
                    <li>
                        <a href="#">
                            <i class="icon fa-regular fa-star"></i>
                            <span class="text">Analisis</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <p class="title">Cuenta</p>
            <ul>
                <li>
                    <a href="#">
                        <i class="icon fa-regular fa-circle-question"></i>
                        <span class="text">Help</span>
                    </a>
                </li>
                <li>
                    <a href="" (click)="logout($event)">
                        <i class="icon fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="chatbot">
        <header>
            <div class="menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            <h2>Chatbot</h2>
        </header>
        <ul class="chatbox">
            <li class="chat incoming" *ngFor="let response of botResponses">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>{{ response }}</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea [(ngModel)]="userMessage" placeholder="Enter a message..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined" (click)="sendMessage()">send</span>
        </div>
    </div>