@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.chatbot {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
              0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot header {
  background: #000;
  padding: 16px 0;
  text-align: center;
}

.chatbot header h2 {
  color: #fff;
  font-size: 1.4rem;
}

.chatbot .chatbox {
  flex-grow: 1;
  overflow-y: auto;
  padding: 30px 27% 70px;
  
}

.chatbox .chat {
  display: flex;
}

.chatbox .incoming span {
  height: 32px;
  width: 32px;
  color: #fff;
  align-self: flex-end;
  background: #000;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}


.chatbot .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .chat p {
  color: #fff;
  max-width: 75%;
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: #000;
}

.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
  border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input {
  position: relative; /* Changed from absolute to relative for better control */
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chat-input span {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: #000;
  font-size: 1.35rem;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {

  .chatbot {
    width: 100%; /* Full width on mobile */
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .chatbot .chatbox {
    height: 100%;
    padding: 30px 20px 70px;
  }
  .chatbox {
    padding: 10px; /* Less padding for mobile */
  }
  
  .chat-input textarea {
    font-size: 0.85rem; /* Adjust text area font size on mobile */
  }
} 

/* NAV BAR CSS*/
body {
  background-color: #5b6677;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh; /* Occupy the full height of the viewport */
  overflow: hidden; /* Prevent scroll in the container */
}

.sidebar {
  position: relative;
  width: 256px;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  transition: all 0.3s;
  border-right: 1px solid #ccc;
}

.sidebar .head {
  -ms-flex-align: center;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.user-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  object-fit: cover;
}

.user-details .title, .menu .title {
  font-size: 11px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition:  all 0.3s;
}

.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}

.nav {
  flex: 1;
}

.menu ul li .icon {
  font-size: 30px;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}

.menu ul li.active .arrow {
 transform: rotate(180deg);
}

.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
  position: absolute;
  right: -17px;
  top: 3.5%;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.menu-btn:hover i {
  color: #000;
}

.menu-btn i {
  transition: all 0.3s;
}

.sidebar.active {
  width: 100px;
}

.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}

.sidebar.active .user-details {
  display: none;
}

.sidebar.active .menu .title {
  text-align: center;
}

.sidebar.active .menu ul li .arrow {
  display: none;
}

.sidebar.active .menu ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .menu ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.sidebar.active .menu ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .menu ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}

.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}









