<div class="chatbot">
    <header>
        <h2>Chatbot</h2>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there 👋 <br> How can I help you today?</p>
        </li>
        <li class="chat outgoing">
            <p>HOLA</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Enter a message..." required></textarea>
        <span id="send-btn" class="material-symbols-outlined">send</span>
    </div>
</div>



<div>
    <button (click)="logout()">Logout</button>
</div>