<div class="main-container">
    <div class="login-card">
        <h2>Registrarse</h2>
        
        <form class="login-form">
            <input type="text" placeholder="Correo">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Confirmar contraseña">
            <a>Reconocimiento Facial (Opcional)</a>
            <button type="submit" class="icon-button">
                <span class="fa-stack custom-stack-size">
                    <i class="fa-solid fa-expand custom-stack-2x"></i>
                    <i class="fa-solid fa-user fa-stack-1x"></i>
                </span>
            </button> 
            <button type="submit">Registrarse</button>
            <h4>O registrate con</h4>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </form>
        <form class="login-form2">
            <a href="/login">¿Ya tienes una cuenta? <span class="special-color">Inicia Sesion</span></a>
        </form>
    </div>
</div>