<div class="main-container">
    <div class="login-card">
        <h2>Registrarse</h2>

        <form class="login-form" (ngSubmit)="register()">
            <input [(ngModel)]="email" name="email" (ngModelChange)="clearRegisterError()" type="text"
                placeholder="Correo" required>
            <input [(ngModel)]="name" name="name" (ngModelChange)="clearRegisterError()" type="text"
                placeholder="Nombre" required>
            <input [(ngModel)]="password" name="password" (ngModelChange)="clearRegisterError()" type="password"
                placeholder="Contraseña" required>
            <input [(ngModel)]="confirmPassword" name="confirmPassword" (ngModelChange)="clearRegisterError()"
                type="password" placeholder="Confirmar contraseña" required>


            <div *ngIf="RegisterError" class="error-message">
                {{ RegisterError }}
            </div>
            <button type="submit">Registrarse</button>
        </form>

        <h4>O registrate con</h4>
        <div id="google-btn"></div>
        <button class="btn btn-facebook" (click)="checkLoginState()">
            <i class="fa-brands fa-square-facebook custom-stack-3x"></i>
            <span>Login with Facebook</span>
        </button>
        <form class="login-form2">
            <a href="/login">¿Ya tienes una cuenta? <span class="special-color">Inicia Sesion</span></a>
        </form>
    </div>
</div>