<div class="main-container">
    <div class="login-card">
        <h2>Registrarse</h2>

        <form class="login-form" (ngSubmit)="register()">
            <input [(ngModel)]="email" name="email" type="text" placeholder="Correo" required>
            <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required>
            <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password"
                placeholder="Confirmar contraseña" required>

            <a>Reconocimiento Facial</a>
            <input id="file-upload" type="file" (change)="onFileSelected($event)" accept="image/png"
                style="display: none;">

            <!-- Button that triggers the file input -->
            <button type="button" class="icon-button" onclick="document.getElementById('file-upload').click();">
                <span class="fa-stack custom-stack-size">
                    <i class="fa-solid fa-expand custom-stack-2x"></i>
                    <i class="fa-solid fa-user fa-stack-1x"></i>
                </span>
            </button>
            <button type="submit">Registrarse</button>
        </form>

        <h4>O registrate con</h4>
        <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
        </div>

        <form class="login-form2">
            <a href="/login">¿Ya tienes una cuenta? <span class="special-color">Inicia Sesion</span></a>
        </form>
    </div>
</div>